[submodule "puppet/modules/puppet-rgenetics"]
	path = puppet/modules/puppet-rgenetics
	url = https://github.com/cfljam/puppet-rgenetics
[submodule "puppet/modules/r"]
	path = puppet/modules/r
	url = https://github.com/forward3d/puppet-r
